body {
    font-family: "Biryani";
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 60px 20px;
    text-align: center;
}

.menu {
    background-color: #f8cede;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    transform: translateX(-100%);

    transition: transform 0.5s ease;
    z-index: 2;
}

.menu-toggle {
    z-index: 3;
}

.open {
    transform: translateX(0);
}

nav a{
    font-size: 32px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
}

.menu-toggle {
    position: fixed;
    top: 30px;
    left: 30px;
}

nav {
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
}

.natural {
    padding-right: 260px;
    position: relative;
}

.natural h2 {
    font-size: 64px;
    line-height: 1.125;
    font-weight: 700;
}

.natural .copy {
    position: absolute;
    right: 0;
    top: 50%;
    width: 360px;
    transform: translateY(-50%);
}

.natural h2,
.natural img {
    transition: transform 0.5s ease;
}

.natural:hover h2 {
    transform: scale(1.15);
}

.natural:hover img {
    transform: rotate(-5deg);
}

.one-thing {
    padding-left: 360px;
    position: relative;
}

.one-thing .copy {
    position: absolute;
    top: 50px;
    left: 0;
    width: 480px;
}

.one-thing h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.one-thing p {
    font-size: 32px;
    font-weight: 100;
}


.one-thing .copy,
.one-thing img {
    transition: transform 0.5s ease;
}

.one-thing:hover img {
    transform: rotate(10deg);
}

.one-thing:hover .copy{
    transform: scale(1.1) translateX(20px);
}

section {
    margin-bottom: 60px;
}

.lookbook {
    background-image: url("../assets/image_3.jpg");
    background-position: center;
    background-size: cover;

    padding: 220px 20px 180px 20px;

    text-align: center;
    
}

.lookbook h2 {
    font-size: 64px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.5s ease;
}

.lookbook:hover h2 {
    transform: scale(0.8);
    color:rgba(255, 255, 255, 0.8);
}
